table {
  width: 70%;
  height: 50%;

  margin-left: auto;
  margin-right: auto;
}

#main {
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  width: 90%;

}

thead {
  background-color: rgb(14, 137, 146);
  color: rgb(255, 255, 255);
}

tbody {
  background-color: rgb(206, 204, 203);
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

main>table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.voltar {
  color: rgb(255, 255, 255);
}



#container {
  width: 90%;
  height: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  display: table-column;

}




#section-btn button {
  width: 65%;
  padding: 8px;
  border: 1px solid rgb(128, 124, 127);
  border-radius: 6px;
  margin-bottom: 1rem;
  font-size: 15;
  transition: border-color 0.3s ease;
  background-color: rgb(5, 91, 102);
  color: white;
  display: inline-block;
}
