h1 {
  color: rgb(255, 255, 245);
  background-color: rgb(27, 105, 105);
  text-align: center;
}

h2 {
  text-align: center;
  /*Sobrepor*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(246, 253, 253);
  background-color: rgba(40, 39, 39, 0.5);
  /*Fundo semi-transparente*/
  padding: 15px;
  border-radius: 8px;
  /* font:  normal 15pt Arial;
    text-align: center;*/
  z-index: 100;
  font-size: 5vw;
  width: 75%;
}




/* ===== MAIN ===== */
main {
  flex: 1;
  background-image: url("../img/img-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

main section {
  max-width: 800px;
  text-align: center;
}
